/* La base capa es para cosas como reglas 
de reinicio o estilos predeterminados 
aplicados a elementos HTML sin formato. */
@tailwind base;

/* La componentscapa es para estilos basados 
​​en clases que desea poder anular con utilidades. */
@tailwind components;

.alert {
    @apply mb-5 p-3 border border-solid border-gray-700
         bg-gray-300 text-gray-900 font-medium
         sm:w-1/4 sm:m-5
}

.alert-danger {
    @apply border-red-700 bg-red-300 text-red-700
}

.alert-warning {
    @apply border-yellow-500 bg-yellow-200 text-yellow-800
}

.alert-info {
    @apply border-blue-500 bg-blue-200 text-blue-800

}
/* La utilities capa es para clases pequeñas
 de un solo propósito que siempre deben tener 
 prioridad sobre cualquier otro estilo. */
@tailwind utilities;


@layer utilities {
/* @responsive {  @resposibe => se usa para las versiones 2.2.16*/
    .rotate-45 {
        transform: rotate(45deg);
    }
}

/* @variants => se usa para las versiones 2.2.16
    docs: https://tailwindcss.com/docs/upgrade-guide#replace-variants-with-layer
@variants hover {
    .zoom {
        transform: scale(2);
    }
} */

/* @layer => se usa para las versiones 3.1.8 
    porque: docs: https://tailwindcss.com/docs/upgrade-guide#replace-variants-with-layer

    docs: https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/
@layer utilities {
    .zoom {
        transform: scale(2);
    }
}